<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <nav>
        <ul>
            <li><a href="/blogs">All</a></li>
            <li><a href="/addNew">New</a></li>
        </ul>
    </nav>
    <figure>
        <% if (blog.url.includes('http')) { %>
            <img src=<%=`${blog.url}`%> alt="">
            <% } else{%>
                <img src=<%=`/images${blog.url}`%> alt="">
                <% } %>
                    <figcaption>
                        <h1>
                            <%=blog.title%>
                        </h1>
                        <p>
                            <%=blog.body%>
                        </p>
                        <h4>
                            <%=blog.published_at%>
                        </h4>
                        <h4>
                            <%=blog.duration%>
                        </h4>
                        <h4>
                            <%=blog.author%>
                        </h4>
                        <img src=<%=blog.author_bild%> alt="">
                    </figcaption>
    </figure>
</body>

</html>